body{
    border: 2px brown;
}
#main{
    margin: 100px;
    padding:50px;
    background-color: bisque;
}
#profile{
    height: 200px;
    width: 200px;
    border: 10px solid brown;
}
#resume{
    text-align: center;
}
.info{
    font-style: bold;
text-indent: 20px;}
table,th,td{
    border:3px solid brown;
}
header{
    background-color: brown;
}
li::marker {
    color: brown;
 }
 h3{
    color: brown;
 }